.gallery-block__description-block {
  background: url(../../img/gallery_block.d7a874af.jpg);
  background-size: cover;
}

.gallery-block__text-block {
  position: relative;
  margin: 6.1rem 0 0 2rem;
}

.gallery-block__text-block span {
  font-size: 1rem;
  line-height: 1.35rem;
  font-family: GothamPro-Bold;
  padding-left: .2rem;
  padding-right: .2rem;
}

 span.hashtag {
  display: inline-block;
  font-size: .98rem;
  line-height: 1.35rem;
  background: white;
  color: red;
  margin-bottom: .86rem;
  font-family: GothamPro;
}

.gallery-block__text-block:after {
  content: "";
  position: absolute;
  background: url(../../img/gallery_block.vk.png) no-repeat;
  background-size: contain;
  width: 4.5rem;
  height: 5.5rem;
  top: -5.5rem;
  left: .5rem;
}

.gallery-block__image-block {
  background: white;
  padding: 15px;  
  box-sizing: border-box;
}

.gallery-block__photo {
  float: left;
  width: 33.3%;
  height: 33.3%;
  padding: 4px;
  box-sizing: border-box;
}

.block-photo {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.gallery-block_animate {
  animation: right_animate 1s ease;
}

@media screen and (max-width: 680px) {

  .gallery-block__text-block {
    margin: 18.3rem 0 0 4rem;
  }

  .gallery-block__text-block span {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-family: GothamPro-Bold;
    padding-left: .2rem;
    padding-right: .2rem;
  }

   span.hashtag {
    font-size: 2.5rem;
    line-height: 2.9rem;
  }

  .gallery-block__button {
    margin: -3.9rem 0 0 18.5rem;
    width: 13.3rem;
  }

  .gallery-block__text-block:after {
    content: "";
    position: absolute;
    background: url(../../img/vk_inst_mob.png) no-repeat;
    background-size: contain;
    width: 16.7rem;
    height: 17.7rem;
    top: -15rem;
    left: -1rem;
  }

  .gallery-block__description-block {
    background: url(../../img/gallery_block_mobile.231a2475.png) no-repeat;
    background-size: 100%;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-top: 5px solid white;
  }

  .gallery-block__image-block {
    padding: 12px;  
  }

  .gallery-block__photo {
    padding: 2px;
  }
}