.lays-block {
  overflow: hidden;
}

.lays-block__image-block {
  background-image: url(../../img/lays_img.5f4a68cd.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%; 
}

.lays-block:hover .lays-block__image-block.animate-block{
  transform: scale(1.2);
  overflow: hidden;
}

.about-block_order-1 {
  order: 1;
}

.about-block_order-2 {
  order: 2;
}

.lays-block__description-block {
  position: relative;
  background-image: url(../../img/lays_block.1e4024ad.jpg);
  background-size: cover;
}

.lays-block__description-block:after {
  content: "";
  position: absolute;
  top: 44%;
  left: -2.3rem;
  background: url(../../img/yellow_angle.png) no-repeat;
  background-position: center;
  background-size: contain;
  width: 3.3rem;
  height: 3.3rem;
}

.lays-block__text-block {
  margin: 10.45rem 0 0 3.1rem;
}

.lays-block__text-block span {
  font-family: GothamPro-Bold;
  color: rgb(48, 31, 32);
  font-size: 1.5rem;
}

.lays-block__button {
  margin-top: 0.77rem;
  margin-left: 1.95rem;
}

.lays-block .description-block.active {
  animation: left_scroll_animate 1s ease;
  opacity: 1;
}

.lays-block .image-block.active {
  animation: right_scroll_animate 1s ease;
  opacity: 1;
} 

@media screen and (max-width: 680px) {

  .lays-block__text-block {
    position: absolute;
    top: 62%;
    left: 50%;
    margin: 0 0 0 -11.6rem;
  }

  .lays-block__text-block span {
    font-size: 3.8rem;
  }

  .lays-block__button {
    margin-left: 5.25rem;
    margin-top: 1.6rem;
  }

  .lays-block__description-block:after {
    display: none;
  }

  .lays-block__image-block {
    background: url(../../img/lays_img_mobile.22a44045.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;  
    margin-top: -6%;
    padding-bottom: 6%;
  }

  .lays-block__description-block {
    background: url(../../img/lays_block_mobile.823e2bd0.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;  
  }

  .lays-block_order-1 {
      order: 1;
  }

  .lays-block_order-2 {
      order: 2;
  }

  .lays-block:hover .lays-block__image-block.animate-block{
    transform: scale(1);
    overflow: hidden;
  }
}