html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@font-face {
  font-family: GothamPro;
  src: url(fonts/GothaProReg.ff3448e4.eot);
  src: local('☺'),url(../fonts/GothaProReg.7b9a959a.woff) format('woff'),url(fonts/GothaProReg.95177029.ttf) format('truetype'),url(fonts/GothaProReg.d0b64f1e.svg) format('svg');
}

@font-face {
  font-family: GothamPro-Medium;
  src: url(fonts/GothaProMed.883ba12c.eot);
  src: local('☺'),url(../fonts/GothaProMed.b8640793.woff) format('woff'),url(fonts/GothaProMed.a864a705.ttf) format('truetype'),url(fonts/GothaProMed.2fae195a.svg) format('svg');
}

@font-face {
  font-family: GothamPro-Light;
  src: url(fonts/GothaProLig.37ce404d.eot);
  src: local('☺'),url(../fonts/GothaProLig.717add55.woff) format('woff'),url(fonts/GothaProLig.401cd35e.ttf) format('truetype'),url(fonts/GothaProLig.49317c61.svg) format('svg');
}

@font-face {
  font-family: GothamPro-Black;
  src: url(fonts/GothaProBla.9e5bf59c.eot);
  src: local('☺'),url(../fonts/GothaProBla.a8a6cdf1.woff) format('woff'),url(fonts/GothaProBla.7ede1962.ttf) format('truetype'),url(fonts/GothaProBla.92abded7.svg) format('svg');
}

@font-face {
  font-family: GothamPro-Bold;
  src: url(fonts/GothaProBol.6f19dba3.eot);
  src: local('☺'),url(../fonts/GothaProBol.1ffe6b86.woff) format('woff'),url(fonts/GothaProBol.9bfe30b8.ttf) format('truetype'),url(fonts/GothaProBol.820e5112.svg) format('svg');
}

html,
body {
  font-family: GothamPro;
}

body {
  background-color: #ffda2d;
  overflow-x: hidden;
}

html {
  font-size: 55px;
}

@media (max-width:1848px) {
  html {
    font-size: 54px;
  }
}

@media (max-width:1816px) {
  html {
    font-size: 53px;
  }
}

@media (max-width:1784px) {
  html {
    font-size: 52px;
  }
}

@media (max-width:1752px) {
  html {
    font-size: 51px;
  }
}

@media (max-width:1720px) {
  html {
    font-size: 50px;
  }
}

@media (max-width:1688px) {
  html {
    font-size: 49px;
  }
}

@media (max-width:1656px) {
  html {
    font-size: 48px;
  }
}

@media (max-width:1624px) {
  html {
    font-size: 47px;
  }
}

@media (max-width:1592px) {
  html {
    font-size: 46px;
  }
}

@media (max-width:1560px) {
  html {
    font-size: 45px;
  }
}

@media (max-width:1528px) {
  html {
    font-size: 44px;
  }
}

@media (max-width:1496px) {
  html {
    font-size: 43px;
  }
}

@media (max-width:1464px) {
  html {
    font-size: 42px;
  }
}

@media (max-width:1432px) {
  html {
    font-size: 41px;
  }
}

@media (max-width:1400px) {
  html {
    font-size: 40px;
  }
}

@media (max-width:1369px) {
  html {
    font-size: 39px;
  }
}

@media (max-width:1338px) {
  html {
    font-size: 38px;
  }
}

@media (max-width:1307px) {
  html {
    font-size: 37px;
  }
}

@media (max-width:1276px) {
  html {
    font-size: 36px;
  }
}

@media (max-width:1245px) {
  html {
    font-size: 35px;
  }
}

@media (max-width:1213px) {
  html {
    font-size: 34px;
  }
}

@media (max-width:1181px) {
  html {
    font-size: 33px;
  }
}

@media (max-width:1149px) {
  html {
    font-size: 32px;
  }
}

@media (max-width:1117px) {
  html {
    font-size: 31px;
  }
}

@media (max-width:1085px) {
  html {
    font-size: 30px;
  }
}

@media (max-width:1053px) {
  html {
    font-size: 29px;
  }
}

@media (max-width:1030px) {
  html {
    font-size: 28px;
  }
}

@media (max-width:998px) {
  html {
    font-size: 27px;
  }
}

@media (max-width:966px) {
  html {
    font-size: 26px;
  }
}

@media (max-width:934px) {
  html {
    font-size: 25px;
  }
}

@media (max-width:902px) {
  html {
    font-size: 24px;
  }
}

@media (max-width:870px) {
  html {
    font-size: 23px;
  }
}

@media (max-width:838px) {
  html {
    font-size: 22px;
  }
}

@media (max-width:806px) {
  html {
    font-size: 21px;
  }
}

@media (max-width:774px) {
  html {
    font-size: 20px;
  }
}

@media (max-width:742px) {
  html {
    font-size: 19px;
  }
}

@media (max-width:710px) {
  html {
    font-size: 18px;
  }
}

@media (max-width:678px) {
  html {
    font-size: 17px;
  }
}

@media (max-width:646px) {
  html {
    font-size: 16px;
  }
}

@media (max-width:614px) {
  html {
    font-size: 15px;
  }
}

@media (max-width:582px) {
  html {
    font-size: 14px;
  }
}

@media (max-width:550px) {
  html {
    font-size: 13px;
  }
}

@media (max-width:518px) {
  html {
    font-size: 12px;
  }
}

@media (max-width:486px) {
  html {
    font-size: 11px;
  }
}

@media (max-width:454px) {
  html {
    font-size: 10px;
  }
}

@media (max-width:422px) {
  html {
    font-size: 9px;
  }
}

@media (max-width:390px) {
  html {
    font-size: 8px;
  }
}

.button {
  width: 5.4rem;
  height: 1.45rem;
  background-color: rgba(143,12,0,.1);
  text-align: center;
  font-size: .56rem;
  color: white;
  letter-spacing: .02rem;
  line-height: 1.5rem;
  cursor: pointer;
  border: 2px solid white;
  text-transform: uppercase;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  transition: background-color 1s;
}

.button:hover {
  background-color: rgba(0,0,0,.2);
}

.page-site {
  position: relative;
  max-width: 1920px;
  min-width: 320px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

/*боковая панель*/

.navigation {
  position: fixed;
  width: 150px;
  height: 100%;
  left: 0;
  top: 0;
  vertical-align: baseline;
  background: #f6f6f6;
  z-index: 2;
}

.menu__index {
  text-align: center;
  height: 202px;
}

.menu__index-icon {
  width: 100%;
  height: 136px;
  background-image: url(../img/lays.png);
  background-repeat: no-repeat;
  background-size: 97px 85px;
  background-position: center;
}

.menu__index-hashtag {
  font-family: GothamPro-Medium;
  color: #f73934;
  font-size: 16px;
  margin-top: -10px;
  text-align: center;
}

.menu {
  position: relative;
}

.menu__link {
  text-align: center;
  font-size: 14px;
  height: 123px;
  cursor: pointer;
  position: relative;
}

.menu__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 123px;
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  opacity: 0;
  z-index: 0;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.menu__link:hover::before {
    opacity: 1;
}

.menu__link-name {
  position: relative;
  text-align: center;
  font-size: 14px;
  color: #555;
  margin-top: -10px;
  /*color: rgba(0,0,0,.7);*/
}

.menu__link-icon {
  position: relative;
  width: 100%;
  height: 93px;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
}

.menu__link_gallery .menu__link-icon {
  background-image: url(../img/gallery.png);
}

.menu__link_about .menu__link-icon {
  background-image: url(../img/about_project.png);
}

.menu__link_lays .menu__link-icon {
  background-image: url(../img/map.png);
}

.menu__link_close {
  display: none;
}

.menu__humburger {
  position: absolute;
  width: 33px;
  height: 30px;
  top: 25px;
  right: 25px;
}

.menu__humburger span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #f73934;
  opacity: 1;
  top: 0;
  left: 0;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.menu__humburger span:nth-child(1) {
  top: 0px;
}

.menu__humburger span:nth-child(2) {
  top: 10px;
}

.menu__humburger span:nth-child(3) {
  top: 21px;
 }

.menu_state_open .menu__humburger span:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}

.menu_state_open .menu__humburger span:nth-child(2) {
  width: 0%;
  left: 50%;
}

.menu_state_open  .menu__humburger span:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
}

.menu_state_open .menu__link {
  visibility: visible;
}

.menu__mobile-menu {
  display: none;
  height: 80px;
}

@media (max-width:680px) {

  .navigation {
    width: 100%;
    height: 80px;
    transition: transform .4s ease;
  }

  .menu__mobile-menu {
    display: inline-block;
  }

  .menu__index {
    height: 80px;
    width: 100%;
    cursor: pointer;
    margin: 0;
  }

  .menu__index-icon {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/lays.png) no-repeat;
    background-position: center;
    background-size: 57px 50px;
    width: 57px;
    height: 80px;
    margin-left: 20px;
    vertical-align: middle;
  }

  .menu__index-hashtag {
    position: absolute;
    line-height: 80px; 
    margin: 0;
    font-size: 18px;
    width: 120px;
    top: 0;
    left: 50%;
    margin-left: -60px;
  }

  .menu__link {
    visibility: hidden;
    text-align: center;
    width: 100%;
    height: 80px;
    background: #f6f6f6;
    border-top: 1px solid rgba(155,155,155,.18);
    cursor: pointer;
  }

  @keyframes left_animate-open {
    from {transform: translateX(-50px); opacity: 0;}
    to {transform: translateX(0); opacity: 1;}
  }

  @keyframes left_animate_close {
    from {transform: translateX(0); opacity: 1;
      visibility: visible;}
    to {transform: translateX(-50px); opacity: 0;
      visibility: hidden;}
  }

  @keyframes right_animate-open {
    from {transform: translateX(50px); opacity: 0;}
    to {transform: translateX(0); opacity: 1;}
  }

  @keyframes right_animate_close {
    from {transform: translateX(0); opacity: 1;
    visibility: visible;}
    to {transform: translateX(50px); opacity: 0;
    visibility: hidden;}
  }

  .menu__link::before {
    height: 80px;
  }

  .menu__link-name {
    display: inline-block;
    line-height: 80px;
    margin: 0 0 0 -75px;
  }

  .menu__link-icon{
    background-position: center;
    display: inline-block;
    float: left;
    background-size: 41px 39px;
    width: 51px;
    height: 100%;
    margin-left: 25px;
  }

  .menu__link_gallery.open-menu {
    visibility: visible;
    animation: left_animate-open .5s ease;
  }

  .menu__link_about.open-menu {
    visibility: visible;
    animation: right_animate-open .5s ease;
  }

  .menu__link_lays.open-menu {
    visibility: visible;
    animation: left_animate-open .5s ease;
  }

  .menu__link_close.open-menu {
    visibility: visible;
    animation: right_animate-open .5s ease;
  }

  .menu__link_gallery.close-menu {
    animation: left_animate_close .5s ease;
  }

  .menu__link_about.close-menu {
    animation: right_animate_close .5s ease;
  }

  .menu__link_lays.close-menu {
    animation: left_animate_close .5s ease;
  }

  .menu__link_close.close-menu {
    animation: right_animate_close .5s ease;
  }

  .menu__link_close {
    display: block;
    height: 60px;
    text-align: center;
    background-color: #f0eded;
  }

  .menu__link_close .menu__link-name {
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 58px;
    color: rgba(0,0,0,.5);
  }

  .menu__link_close::before {
    height: 60px;
  }

  .nav-hidden {
    transform: translateY(-80px);
  }

  .nav-visible {
    transform: translateY(80px);
  }

 .button {
    width: 13.2rem;
    height: 3.5rem;
    font-size: 1.4rem;
    letter-spacing: .15rem;
    line-height: 3.9rem;
    border: 2px solid white;
  }
}

/*основная часть*/

.hidden-block {
  opacity: 0;
}

.page-main {
  position: absolute;
  left: 150px;
  right: 0;
  top: 0;
  height: 100%;
}

.description-block, .image-block {
  width: 50%;
  height: 100%;
  background-size: cover;
}

@keyframes right_scroll_animate {
  from {transform: translateX(-2rem); opacity: 0;}
  to {transform: translateX(0); opacity: 1;}
}

@keyframes left_scroll_animate {
  from {transform: translateX(2rem); opacity: 0;}
  to {transform: translateX(0); opacity: 1;}
}

@keyframes right_animate {
  from {transform: translateX(-200px); opacity: 0;}
  to {transform: translateX(0); opacity: 1;}
}

@keyframes left_animate {
  from {transform: translateX(200px); opacity: 0;}
  to {transform: translateX(0); opacity: 1;}
}

.site-header_animate {
  animation: left_animate 1s ease;
}

.gallery-block_animate {
  animation: right_animate 1s ease;
}

.about-block .description-block.active {
  animation: right_scroll_animate 1s ease;
  opacity: 1;
} 

.about-block .image-block.active {
  animation: left_scroll_animate 1s ease;
  opacity: 1;
}

.lays-block .description-block.active {
  animation: left_scroll_animate 1s ease;
  opacity: 1;
}

.lays-block .image-block.active {
  animation: right_scroll_animate 1s ease;
  opacity: 1;
} 

/*1 блок*/

.site-header {
  background-image: url(../img/gallery_1.6e98f8b2.jpg);
  background-size: cover;
  overflow: hidden;
}

.site-header__icons {
  display: flex;
  justify-content: space-between;
  width: 12.5rem;
  height: 5.7rem;
  margin: 74px 0 0 70px;
}

.site-header_icon {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  width: 2.75rem;
  height: 2.75rem;
  margin: 0 auto;
}

.site-header_icon-item {
  width: 33%;
  height: 100%;
  line-height: .48rem;
  color: #494949;;
  text-align: center;
}

.site-header_icon-item p {
  font-size: .4rem;
  margin-top: .45rem;
}

.site-header_icon-item span {
  color: #f73934;
}

.site-header__text-block {
  margin-left: 78px;
  margin-top: 14px;
  font-size: 2.17rem;
  color: #f73934;
  font-family: GothamPro-Medium;
  line-height: 2.1rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.middle {
  font-size: 1.2rem;
  font-family: GothamPro-Light;
  line-height: 1rem;
}

.last {
  font-size: 1.2rem;
  font-family: GothamPro-Light;
}

.site-header__text-block span {
  font-size: 2rem;
  line-height: 1.7rem;
  font-family: GothamPro-Black;
  text-transform: capitalize; 
  letter-spacing: 0;
}

@media screen and (min-width: 1399px) and (max-width: 1559px) {
.site-header__icons {
  margin: 64px 0 0 60px;
}

.site-header__text-block {
  margin-left: 70px;
}

}
@media screen and (min-width: 1024px) and (max-width: 1399px) {
  .site-header__icons {
    margin: 54px 0 0 50px;
  }

  .site-header__text-block {
    margin-left: 60px;
    margin-top: 0;
  }
}

@media screen and (min-width: 680px) and (max-width: 1024px) {
  .site-header__icons {
    margin: 1.9rem 0 0 1.7rem;
  }

  .site-header__text-block {
    margin-left: 2.2rem;
    margin-top: 0;
  }
}

@media screen and (max-width: 680px) {

  .site-header__icons {
    width: 35rem;
    height: 14.7rem;
    margin: 146px auto 0 auto;
  }

  .site-header_icon-item {
    width: 13rem;
    height: 100%;
    color: #494949;
    text-align: center;
    margin-left: -1rem;
  }

  .site-header_icon-item:nth-child(2) {
    width: 10rem;
  }

  .site-header_icon-item:nth-child(3) {
    width: 12rem;
  }

  .site-header_icon-item p {
    font-size: 13px;
    margin-top: 8px;
    line-height: 14px;
  }

  .site-header_icon {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    width: 64px;
    height: 64px;
  }

  .site-header__text-block {
    position: absolute;
    top: 21px;
    left: 50%;
    margin: 0;
    margin-left: -60px;
    font-size: 43px;
    color: #d62b2b;
    line-height: 43px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .middle {
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 1px;
  }

  .last {
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 1px;
  }

  .site-header__text-block span {
    line-height: 25px;
    font-size: 40px; 
  }
}

/*2 блок*/

.gallery-block__description-block {
  background: url(../img/gallery_block.d7a874af.jpg);
  background-size: cover;
}

.page-content-block {
  width: 100%;
  display: flex;
}

.page-content {
  width: 50%;
}

.gallery-block__text-block {
  position: relative;
  margin: 6.1rem 0 0 2rem;
}

.gallery-block__text-block h2 {
  font-size: 1rem;
  line-height: 1.35rem;
  font-family: GothamPro-Bold;
  padding-left: .2rem;
  padding-right: .2rem;
}

.gallery-block__text-block h2.hach {
  display: inline-block;
  font-size: .98rem;
  line-height: 1.35rem;
  background: white;
  color: red;
  margin-bottom: .86rem;
  font-family: GothamPro;
}

.gallery-block__text-block:after {
  content: "";
  position: absolute;
  background: url(../img/gallery_block.vk.png) no-repeat;
  background-size: contain;
  width: 4.5rem;
  height: 5.5rem;
  top: -5.5rem;
  left: .5rem;
}

/*блок 3 с 9 картинками*/

.gallery-block__image-block {
  background: white;
  padding: 15px;  
  box-sizing: border-box;
}

.gallery-block__photo {
  float: left;
  width: 33.3%;
  height: 33.3%;
  padding: 4px;
  box-sizing: border-box;
}

.block-photo {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

/*4 блок*/

.about-block {
  overflow: hidden;
}

.about-block__description-block {
  position: relative;
  background-image: url(../img/about_block.dbb14942.png);  
}

.about-block__description-block:after {
  content: "";
  position: absolute;
  top: 27%;
  right: -2rem;
  background: url(../img/red_angle.png) no-repeat;
  background-position: center;
  background-size: contain;
  width: 3rem;
  height: 3rem;
}

.about-block__text-block {
  margin: 3.7rem 0 0 2rem;
  color: white;
}

.about-block__text-block:after {
  content: "";
  position: absolute;
  top: 2.3rem;
  left: 1.06rem;
  background-image: url(../img/about_block_icons.4102b1d1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 6.05rem;
  height: 6.65rem;
}

.about-block__text-block h2 {
  font-family: GothamPro-Bold;
  font-size: 1.35rem;
  line-height: 1.45rem;
  margin-left: 5.28rem;
}

.about-block__text-block p {
  font-size: .48rem;
  line-height: .62rem;
  margin-top: 1.8rem;
  margin-bottom: 1rem;
}

.about-block__button {
  margin-left: 2rem;
}

h2.mobile,
.mobile {
  display: none;
}

/*5 блок*/

.about-block__image-block {
  background-image: url(../img/about_img.3f56954a.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%; 
}

.animate-block{
  -webkit-transition: transform 10s linear;
  -moz-transition: transform 10s linear;
  transition: transform 10s linear;
  z-index: -1;
}

.about-block:hover .about-block__image-block.animate-block{
  transform: scale(1.2);
  overflow: hidden;
}

/*6 блок*/

.lays-block {
  overflow: hidden;
}

.lays-block__image-block {
  background-image: url(../img/lays_img.5f4a68cd.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%; 
}

.lays-block:hover .lays-block__image-block.animate-block{
  transform: scale(1.2);
  overflow: hidden;
}

/*7 блок*/

.about-block_order-1 {
  order: 1;
}

.about-block_order-2 {
  order: 2;
}

.lays-block__description-block {
  position: relative;
  background-image: url(../img/lays_block.1e4024ad.jpg);
  background-size: cover;
}

.lays-block__description-block:after {
  content: "";
  position: absolute;
  top: 44%;
  left: -2.3rem;
  background: url(../img/yellow_angle.png) no-repeat;
  background-position: center;
  background-size: contain;
  width: 3.3rem;
  height: 3.3rem;
}

.lays-block__text-block {
  margin: 10.45rem 0 0 3.1rem;
}

.lays-block__text-block h2 {
  margin-bottom: 0.77rem;
  font-family: GothamPro-Bold;
  color: rgb(48, 31, 32);
  font-size: 1.5rem;
}

.lays-block__button {
  margin-left: 1.95rem;
}

/*подвал*/

.footer {
  order: 8;
  width: 100%;
  background-color: #3c3c3c;
  height: 100px;
}

.footer__logo {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url(../img/footer_pic.jpg) no-repeat;
  background-size: 72px 92px;
  background-position: center;
  margin-left: 10px;
  vertical-align: middle;
}

.footer__text {
  display: inline-block;
  vertical-align: middle;
  color: #b4b4b4;
  font-size: 12px;
  margin-left: -20px;
}

.footer__container {
  height: 100%;
  color: #f6f6f6;
  vertical-align: middle;
}

.footer__social-icon {
  position: relative;
  float: right;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 54px 51px;
  cursor: pointer;
}

.footer__social-icon:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background:rgba(0,0,0,0.1);
  opacity: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.footer__social-icon:hover:after {
    opacity: 0;
}

.fb {
  background-color: #336ca3;
  background-image: url(../img/fb.jpg); 
}

.vk {
  background-color: #3579a8;
  background-image: url(../img/vk.jpg);
}

.world {
  background-color: #edbf11;
  background-image: url(../img/world.jpg);
}

.yt {
  background-color: #c4070e;
  background-image: url(../img/yt.jpg);
}

@media screen and (min-width: 680px) and (max-width: 1400px) {
  .navigation {
    width: 110px;
  }
  .page-main {
    left: 110px;
  }
}

@media screen and (max-width: 680px) {
  .page-main {
    top: 80px;
    width: 100%;
    left: 0;
  }

  .animate-block{
    -webkit-transition:none;
    -moz-transition: none;
    transition: none;
    z-index: -1;
  }

  .about-block:hover .about-block__image-block.animate-block{
    transform: scale(1);
    overflow: hidden;
  }

  .lays-block:hover .lays-block__image-block.animate-block{
    transform: scale(1);
    overflow: hidden;
  }
}

@media screen and (min-width: 1399px) and (max-width: 1559px) {
  .footer {
    height: 80px;
  }
  .footer__social-icon {
    width: 80px;
    height: 80px;
    background-size: 46px 43px;
  }
  .footer__logo {
    width: 80px;
    height: 80px;
    background-size: 62px 80px;
  }
  .footer__text {
    margin-left: -13px;
  }
}

@media screen and (min-width: 680px) and (max-width: 1399px) {
  .footer {
    height: 50px;
  }
  .footer__social-icon {
    width: 50px;
    height: 50px;
    background-size: 35px 32px;
  }

  .footer__logo {
    width: 50px;
    height: 50px;
    background-image: url(../img/footer_pic_small.jpg);
    background-size: 40px 50px;
  }
  .footer__text {
    margin-left: -5px;
  }
}

@media screen and (max-width: 680px) {
  .footer {
    height: 40px;
  }

  .footer__logo {
    display: none;
  }
  .footer__text {
    font-size: 9px;
    margin-left: 20px;
    line-height: 40px;
  }

  .footer__text span {
    display: none;
  }

  .yt {
    background-image: url(../img/yt_small.jpg);
  }

  .world {
    background-image: url(../img/world_small.jpg);
  }

  .vk {
    background-image: url(../img/vk_small.jpg);
  }

  .fb {
    background-image: url(../img/fb_small.jpg);
  }

  .footer__social-icon {
    width: 40px;
    height: 40px;
    background-size: 50%;
  }
}

/* основная часть*/

@media screen and (max-width: 680px) {
  .description-block, .image-block {
    width: 100%;
    height: 50%;
  }
  
  .page-content-block {
    flex-direction: column;
  }
  
  .site-header {
    background: url(../img/gallery_1_mobile.eaa754df.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    animation: none;
  }

  .gallery-block__description-block {
    background: url(../img/gallery_block_mobile.231a2475.png) no-repeat;
    background-size: 100%;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-top: 5px solid white;
  }

  .gallery-block__image-block {
    padding: 12px;  
  }

  .gallery-block__photo {
    padding: 2px;
  }

  .about-block__description-block {
    background-image: url(../img/about_block_mobile.088df3d6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%; 
  }

  .about-block__description-block:after {
    display: none;
  }

  .about-block__image-block {
    background: url(../img/about_img_mobile.7747e5da.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%; 
    margin-top: -9%;
    padding-bottom: 8%;
    border-bottom: 5px solid white;
  }

  .lays-block__image-block {
    background: url(../img/lays_img_mobile.22a44045.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;  
    margin-top: -6%;
    padding-bottom: 6%;
  }

  .lays-block__description-block {
    background: url(../img/lays_block_mobile.823e2bd0.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;  
  }

  .lays-block_order-1 {
      order: 1;
  }

  .lays-block_order-2 {
      order: 2;
  }

  .hidden-block {
    opacity: 1;
  }
}

@media screen and (max-width: 680px) {

  .gallery-block__text-block {
    margin: 18.3rem 0 0 4rem;
  }

  .gallery-block__text-block h2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-family: GothamPro-Bold;
    padding-left: .2rem;
    padding-right: .2rem;
  }

  .gallery-block__text-block h2.hach {
    font-size: 2.5rem;
    line-height: 2.9rem;
  }

  .gallery-block__button {
    margin: -3.9rem 0 0 18.5rem;
    width: 13.3rem;
  }

  .gallery-block__text-block:after {
    content: "";
    position: absolute;
    background: url(../img/vk_inst_mob.png) no-repeat;
    background-size: contain;
    width: 16.7rem;
    height: 17.7rem;
    top: -15rem;
    left: -1rem;
  }
}

@media screen and (max-width: 680px) {

  .about-block__text-block {
    margin: 5.3rem 0 0 4rem;
  }

  .about-block__button {
    position: absolute;
    top: 75%;
    left: 50%;
    margin: 0 0 0 -6.5rem;
  }

  .about-block__text-block:after, .about-block__text-block h2, .about-block__text-block p {
    display: none;
  }

  h2.mobile,
  p.mobile {
    display: block;
  }

  .about-block__text-block h2.mobile {
    font-size: 3.6rem;
    line-height: 3.7rem;
    margin: 0;
  }

  .about-block__text-block p.mobile {
    font-size: 1.5rem;
    line-height: 2.1rem;
    margin-top: 3.4rem;
  }
}

@media screen and (max-width: 680px) {

  .lays-block__text-block {
    position: absolute;
    top: 62%;
    left: 50%;
    margin: 0 0 0 -11.6rem;
  }

  .lays-block__text-block h2 {
    margin-bottom: 1.6rem;
    font-size: 3.8rem;
  }

  .lays-block__button {
    margin-left: 5.25rem;
  }

  .lays-block__description-block:after {
    display: none;
  }
}